<div id="canvas">
  <% @blocks.each do |block| %>
  <%= content_tag(:div, nil, class: "block",
      data: { :"block-id" => block.id },
      style: "left: #{block.x}px; top: #{block.y}px") %>
  <% end %>
</div>
